<h2>Home Page</h2>

<% if user_signed_in? %>
	<%= current_user.email %>
	<br>
	<%= current_user.role %>
<% end %>

<h3>Sign Up Technicians</h3>
<p><%= link_to "Sign Up", new_technician_registration_path %></p>

<h3>Sign Up Members</h3>
<p><%= link_to "Sign Up", new_user_registration_path %></p>

<% if user_signed_in? %>
  <p>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </p>
<% else %>
  <p>
  <%= link_to('Login', new_user_session_path)  %>
  </p>
<% end %>

<% if can? :create, Ad %>
	<%= link_to "New Ad", new_ad_path %>
<% end %>